body{
	margin: 0;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 30px;

}

header{
	background-color: #515751;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;d
}

h1, h2{
	font-family: 'Chivo', sans-serif;
	font-size: 50px;
}

header h1{
	color: #F5F9E9;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid #36453B;
}

body{
	background-color: #C2C1A5;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;

}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #36453B;
}

a{
	color: #36453B;
}
a:hover{
	opacity: .5;
	color: #36453B;
	background-color: transparent;
}

footer{
	margin: 0 auto;
	background-color: #C2C1A5;
	border-radius: 200px;
	width: 500px;
	text-align: center	;
}
footer b{
	margin: 0;
}

footer a:hover{
	opacity: .5;
	color: #36453B;
	background-color: transparent;
}

