body{
	background-color: lightblue;
}
h1{
	font-size: 30px;
	color: forestgreen;
}

h2{
	font-size: 20px;
	color: hotpink;
}

.big{
	font-size: 50px;
	color: black;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: violet;
}